## Deliverable 2. Create a Customer Travel Destinations Map.

In [27]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [42]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Date,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
0,0,Ushuaia,AR,-54.8000,-68.3000,2022-06-18 18:50:09,29.86,86,40,18.41,shower snow
1,1,Floro,NO,61.5996,5.0328,2022-06-18 18:50:09,53.56,71,75,24.16,broken clouds
2,2,Souillac,MU,-20.5167,57.5167,2022-06-18 18:50:10,68.38,88,40,8.05,scattered clouds
3,3,Boende,CD,-0.2167,20.8667,2022-06-18 18:50:10,70.29,93,96,0.63,overcast clouds
4,4,Torbay,CA,47.6666,-52.7314,2022-06-18 18:50:11,63.37,64,75,28.77,broken clouds

In [43]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 

# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 80
What is the maximum temperature you would like for your trip? 90

In [44]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
desired_temp_cities_df = city_data_df.loc[(city_data_df["Max Temp"]<= max_temp) & (city_data_df["Max Temp"]>= min_temp)]
desired_temp_cities_df

,City_ID,City,Country,Lat,Lng,Date,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
12,12,Victoria,HK,22.2855,114.1577,2022-06-18 18:49:04,84.38,85,100,11.01,overcast clouds
15,15,Umm Lajj,SA,25.0213,37.2685,2022-06-18 18:50:14,88.05,50,0,7.34,clear sky
18,18,Mahibadhoo,MV,3.7833,72.9667,2022-06-18 18:50:15,82.81,75,100,11.12,overcast clouds
23,23,Malakal,SS,9.5334,31.6605,2022-06-18 18:50:17,80.89,53,100,4.54,overcast clouds
29,29,Ipixuna,BR,-1.7625,-48.8043,2022-06-18 18:50:19,83.50,66,100,2.37,overcast clouds
...,...,...,...,...,...,...,...,...,...,...,...
692,692,Linhares,BR,-19.3911,-40.0722,2022-06-18 19:09:28,85.41,33,0,2.80,clear sky
697,697,Pizarro,CO,4.9533,-77.3660,2022-06-18 19:09:30,80.92,78,100,9.78,light rain
699,699,Pucallpa,PE,-8.3791,-74.5539,2022-06-18 19:09:31,86.04,62,75,3.44,broken clouds
703,703,Kano,NG,12.0001,8.5167,2022-06-18 19:09:32,87.04,41,100,2.80,overcast clouds
707,707,Oschersleben,DE,52.0333,11.2500,2022-06-18 19:09:33,81.66,63,4,4.47,clear sky

In [45]:
# 4a. Determine if there are any empty rows.
desired_temp_cities_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 161 entries, 12 to 707
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   City_ID              161 non-null    int64
 1   City                 161 non-null    object
 2   Country              161 non-null    object
 3   Lat                  161 non-null    float64
 4   Lng                  161 non-null    float64
 5   Date                 161 non-null    object
 6   Max Temp             161 non-null    float64
 7   Humidity             161 non-null    int64
 8   Cloudiness           161 non-null    int64
 9   Wind Speed           161 non-null    float64
 10  Weather Description  161 non-null    object
dtypes: float64(4), int64(3), object(4)
memory usage: 15.1+ KB

In [46]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_desired_temp_cities_df = desired_temp_cities_df.dropna()

In [47]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_desired_temp_cities_df[["City", "Country", "Max Temp", "Lat", "Lng", "Weather Description"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Weather Description,Hotel Name
12,Victoria,HK,84.38,22.2855,114.1577,overcast clouds,
15,Umm Lajj,SA,88.05,25.0213,37.2685,clear sky,
18,Mahibadhoo,MV,82.81,3.7833,72.9667,overcast clouds,
23,Malakal,SS,80.89,9.5334,31.6605,overcast clouds,
29,Ipixuna,BR,83.50,-1.7625,-48.8043,overcast clouds,
37,Nicoya,CR,82.04,10.1483,-85.4520,scattered clouds,
49,Wrzesnia,PL,80.06,52.3251,17.5652,broken clouds,
51,Sabha,LY,85.10,27.0377,14.4283,clear sky,
52,Carutapera,BR,83.26,-1.1950,-46.0200,clear sky,
53,Hithadhoo,MV,82.81,-0.6000,73.0833,overcast clouds,

In [48]:
# 6a. Set parameters to search for hotels with 5000 meters.
parameters = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat=row["Lat"]
    lng=row["Lng"]
    
    parameters["location"] = f"{lat},{lng}"
     
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    query_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json" 

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels_response = requests.get(query_url, params=parameters)
    hotels_json = hotels_response.json()

    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels_json["results"][0]["name"]
        print("Found hotel " + hotels_json["results"][0]["name"])
    except (IndexError):
        print("Cannot find hotel, skipping.")

Found hotel Mini Central
Found hotel Moon light Furnished Units
Found hotel Omadhoo Inn
Found hotel Nile Palace Hotel
Found hotel Chalé do Mato
Found hotel Las Cabinas Del Sueño
Found hotel HOTEL KOSMOWSKI
Found hotel محطة ام الارانب -سبها مواصلات
Found hotel Lidera
Found hotel Scoop Guest House
Cannot find hotel, skipping.
Found hotel Pink Corral Bay Property
Found hotel J K Palace Hotel
Found hotel Hotel Princesa do Mearim
Cannot find hotel, skipping.
Found hotel INN NEW HORIZON
Found hotel Sloth Island Nature Resort
Found hotel Hotel Del Rey
Found hotel Coldrink
Found hotel Durgapur Hazeera Jalesar
Found hotel Hilton Virginia Beach Oceanfront
Found hotel Pirineos
Found hotel खंडोबा राव शेषराव गडदे
Found hotel Novotel Dakar
Found hotel Idlers' Rest Beach Hotel
Found hotel Hôtel Le Dronmi
Found hotel Courtyard by Marriott Valdosta
Found hotel Wendler`s Haus
Found hotel صاحبة الفخامة
Found hotel Hotel Devotee
Found hotel Hotel Sao Pedro
Found hotel Hotel La Villa Couacou
Found hotel Haworth Cottage
Found hotel CeBlue Villas & Beach Resort
Cannot find hotel, skipping.
Found hotel HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel
Cannot find hotel, skipping.
Found hotel Bahiadomizil
Found hotel Red Sea Resort & Suites Mandera County
Found hotel Erlyn’s Sta Rosa City Home
Found hotel Osprey Beach Hotel
Found hotel IDTCATERING
Found hotel Trump International Hotel & Tower Panama
Cannot find hotel, skipping.
Found hotel maison belmabrouk
Found hotel Esquivel's Garden And Resort
Found hotel Hotels in Lakshadweep Islands
Found hotel Atlantis Hotel
Found hotel Lords Inn Somnath
Found hotel VS Villa
Found hotel Hotel Bocas del Toro
Cannot find hotel, skipping.
Found hotel Pathak Residency & Garden
Found hotel Rancho Crepusculo
Found hotel Hotel Neves
Found hotel Sea Star Beau Rivage Hotel
Found hotel محمدالمبروك الاريقط
Found hotel Abaco Beach Resort
Found hotel Sweet Home
Found hotel Pousada do Italiano
Found hotel Butterfly Beach Hotel
Found hotel Swetha lodge
Found hotel Sri Sai bike Paint,manthani
Found hotel Palais du chef Canton Salamt
Found hotel Bon Abri maldives
Found hotel Hotel Vitória Palace
Found hotel Holiday Inn Express Roseville-St. Paul, an IHG Hotel
Found hotel Pousada Camboinha
Found hotel Hotel Santa Maria
Found hotel Casa Concejos
Found hotel Curubo Hotel
Found hotel انصاف چهاردهي هوټل
Found hotel Pousada Porto De Canoas
Found hotel Hotel Heredero
Found hotel Green City Executive 1 Alipur, Muzaffargarh
Found hotel Hotel São Geraldo
Found hotel Kenara Colony House for Rent
Found hotel La Quinta Inn & Suites by Wyndham Buena Park
Found hotel Hotel Porto do Sol
Found hotel Hotel Narayan Avezika Comfort
Found hotel Villa on Dunbar Rock
Found hotel ibis Montbéliard
Cannot find hotel, skipping.
Found hotel المنزل
Found hotel posadas
Found hotel Hotel Porta Fira
Cannot find hotel, skipping.
Found hotel Orient Apartments
Found hotel ALETHEIA Appartement Sinnamary
Found hotel Pousada Tia Amélia
Found hotel HOTEL COLONIAL VILLA GILMA
Found hotel Aipana Plaza Hotel
Found hotel Floresta Amazonica Hotel
Found hotel Hotel Amazon Bed and Breakfast / Hotel Amazon B&B
Found hotel Radisson Grenada Beach Resort
Found hotel Haji laloo memon house
Found hotel Yash Shri
Found hotel Flat Temporada
Found hotel هتل گدروشیا
Found hotel Hotel Bansidhar Palace
Found hotel Khawaja Shop
Found hotel Hotel Shekinah
Found hotel Auberge du 11 décembre de la cité CNSS à Manga
Cannot find hotel, skipping.
Cannot find hotel, skipping.
Found hotel Flat Quatro Rodas Olinda
Found hotel Santa Fe Inn Hotel
Found hotel LA LONGERE DES NUITS DE VARENNE
Cannot find hotel, skipping.
Found hotel Casa do Ian😎
Found hotel Hotel la Favorita
Found hotel San Marino Hotel
Found hotel Nenufar Club Stachowiak Sp.j.
Found hotel Hostal Gladys
Found hotel Divi Flamingo Beach Resort & Casino
Found hotel PoMo Hotel & Restaurant
Found hotel Rey David
Found hotel Casa do Kiwliks
Found hotel Pensión Ronda
Found hotel Rainforest Haven Inn
Found hotel Niamat parda Center chaman
Found hotel NN Pousada
Found hotel Hotel Aram
Found hotel Sea Lounge! Bar, Club & Restaurant
Found hotel EuroHotel Günzburg
Found hotel Posada Turistica Manapiare
Found hotel Shangjiuwan Hotel
Found hotel Pousada Estância
Found hotel HOTEL SIERRA
Found hotel Turaif
Found hotel Reserva do Abiaí
Found hotel POUSADA TRAVÉS'CIA
Cannot find hotel, skipping.
Cannot find hotel, skipping.
Found hotel Sonesta Maho Beach Resort, Casino & Spa
Found hotel Requinte Hotel
Found hotel Churrascaria e Pousada Pantanal
Found hotel Hotel shree ji
Found hotel Versant Hotel & Spa
Found hotel فندق ميس إيجيبت Miss Egypt Hotel
Found hotel Hospedaje Eco
Found hotel Hibiscus Lodge
Found hotel Yas Hotel
Found hotel Hotel 4AM Petrofurt
Found hotel base de Campismo LosPortales de Guane
Found hotel Nebitchi Hotel
Found hotel Hotel The Royal Honours
Found hotel Hotel Carlos III
Found hotel Pousada Beija Flor
Found hotel Hotel Potosí Los Mirtos
Found hotel Hostal Katyalex
Found hotel Hotel Caribe
Cannot find hotel, skipping.
Found hotel Hotel Recreacional El Porvenir
Found hotel Whispering Bamboo Cove Resort
Found hotel Rioger Art
Found hotel Hotel Conceição
Found hotel Hotel Limonar
Found hotel Hotel Sol de Oriente - Pucallpa
Found hotel Royal Tropicana Hotel
Found hotel Hotel Motorsport Arena

In [49]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df[hotel_df["Hotel Name"] != ""]
clean_hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Weather Description,Hotel Name
12,Victoria,HK,84.38,22.2855,114.1577,overcast clouds,Mini Central
15,Umm Lajj,SA,88.05,25.0213,37.2685,clear sky,Moon light Furnished Units
18,Mahibadhoo,MV,82.81,3.7833,72.9667,overcast clouds,Omadhoo Inn
23,Malakal,SS,80.89,9.5334,31.6605,overcast clouds,Nile Palace Hotel
29,Ipixuna,BR,83.50,-1.7625,-48.8043,overcast clouds,Chalé do Mato

In [50]:
# 8a. Create the output File (CSV)
output_data_file = "Weather_database/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [51]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Weather Description</dt><dd>{Weather Description}</dd>
</dl>
"""
# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [52]:
locations = clean_hotel_df[["Lat", "Lng"]]
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(marker_layer)
# 11b. Display the figure
display(fig)

Figure(layout=FigureLayout(height='420px'))

Enabling notebook extension jupyter-gmaps/extension...
      - Validating: ok